@import "functions.scss";
@import "animate.scss";

aside{
    position:absolute;
    width:420px;
    padding:20px;
    min-height:100%;
    background:#eaeaea;
    @include transition(.3s);
    @include translate(-460px,0);
    .aside-hd{
        @include clearfix();
        margin-bottom:20px;
        .logo{
            float:left;    
            img{
                width:125px;
                height:125px;
            }
        }
        .aside-title{
            height:125px;
            line-height:125px;
            width:250px;
            float:left;    
            font-size:37px;
            color:#777;
            vertical-align:middle;
            margin-left:20px;
        }
    }

    .aside-main{
        .aside-search{
            @include clearfix();
            input[type="text"]{
               width:300px; 
               height:36px;
               font-size:27px;
               color:#9d9d9d;
               padding:16px 20px;
               float:left;
               border:1px solid #d1d1d1;
               -webkit-border-top-left-radius: 5px;
               -webkit-border-bottom-left-radius: 5px;
               -moz-border-radius-topleft: 5px;
               -moz-border-radius-bottomleft: 5px;
               border-top-left-radius: 5px;
               border-bottom-left-radius: 5px;
               @include box-shadow(0px 0px 3px rgba(0,0,0,.1));
            }     
            .search-btn{
               float:left;
               width:74px;
               height:70px;
               background:url(../img/sprite.png) no-repeat 21px -260px #3397DA;
               border:none;
               -webkit-border-top-right-radius: 5px;
               -webkit-border-bottom-right-radius: 5px;
               -moz-border-radius-topright: 5px;
               -moz-border-radius-bottomright: 5px;
               border-top-right-radius: 5px;
               border-bottom-right-radius: 5px;
            }
        }
        //aside-select
        .aside-selectarea{
            cursor:pointer;
            margin-top:30px;
            width:414px;
            border:1px solid #dbdbdb;
            @include border-radius(5px);
            background:#fff;
            .jobcat-selected,.area-selected{
                position:relative;
                padding:20px;
                color:#787878;
                i.up-arrow,i{
                    background:url(../img/sprite.png) no-repeat 0 -340px;
                    position:absolute; 
                    width:25px;
                    height:14px;
                    right:20px;
                    top:52px;
                }
                i.up-arrow{
                    background-position:0 -360px; 
                }
                h5{
                    padding:0;
                    margin:0;
                    font-size:33px;    
                }
                .sub{
                    font-size:27px;
                    color:#bababa;
                
                }
            }
            .jobcat-selected-options,.area-selected-options{
                display:none;
                li{
                    width:374px; 
                    height:60px;
                    padding:0 20px;
                    line-height:60px;
                    font-size:27px;
                    background:#f7f7f7;
                    border-top:1px solid #ececec;
                    a{
                        color:#777;
                    }
                }
            }
            .jobcat-selected-options li:last-child{
                    -webkit-border-bottom-left-radius: 5px;
                    -moz-border-radius-bottomleft: 5px;
                    border-bottom-left-radius: 5px; 
                    webkit-border-bottom-right-radius: 5px;
                    -moz-border-radius-bottomright: 5px;
                    border-bottom-right-radius: 5px; 
            }
            .area-selected-options{
                position:relative;
                @include clearfix();
                .p-options,.c-options{
                    float:left;
                    li{
                        width:167px;
                    }
                }
                .p-options>li{
                    &.active{
                        background:#ececec; 
                    }
                    background:#f7f7f7; 
                }
                .c-options{

                }
                .c-options.move-out{
                    @include transition(.3s);
                    left:0px;
                    @include translate(167px,0);
                }
                .c-options>li{
                    background:#ececec; 
                }
            }
        }
    }
    .aside-action{
        margin-top:20px; 
        button{
            height:70px; 
            line-height:70px;
            color:#fff;
            background:#EFAD4D;
            font-size:34px;
            width:414px;
            text-align:center;
            border:none;
            @include border-radius(5px);
        }
    }
}

section{
    .main-list{
        a:hover{
            text-decoration:none; 
            .list-item{
                background:#f0f0f0;
                border-left:8px solid $themecolor;
            }
        }
        .list-item{
            //width:100%;
            height:175px;
            overflow:hidden;
            background:#fff;
            border-top:1px solid #d1d1d1;
            padding:20px 30px 20px 30px;
            font-size:26px;
            .item-hd{
                position:relative;
                h3{
                    color:#3d3d3d;
                    margin:0;
                    padding:0;
                    font-size:36px;           
                }
                .detail{
                    position:absolute; 
                    display:block;
                    width:14px;
                    height:22px;
                    background:url(../img/sprite.png) no-repeat 0 -160px;
                    right:10px;
                    top:22px;
                }
            }
            .item-options{
                color:#ababab;
                font-size:25px;
                @include clearfix();
                ul>li{
                    margin-right:30px;
                    float:left; 
                }
                .addr-icon,.people-icon,.date-icon{
                    padding-left:32px;  
                    background:url(../img/sprite.png) no-repeat;
                }
                .addr-icon{
                    background-position:0 -44px;
                }
                .people-icon{
                    background-position:0 -83px;
                }
                .date-icon{
                    background-position:0 -113px;
                }
            }
            .item-desc{
                color:#6d6d6d;
                font-size:27px; 
                height:80px;
                overflow:hidden;
                margin-top:10px;
            }
        }
    }
}

section.more{
    font-size:30px;
    text-align:center;
    height:100px;
    line-height:100px;
    a{
        color:#8d8d8d;
        &:hover{
            text-decoration:none; 
        }
    }
}

section.detail{
    h4{
        font-size:50px; 
        margin:0 0 20px 0;
        font-weight:normal;
        color:#3d3d3d;
        padding:0;
    }
    padding:30px 40px;
    color:#6d6d6d;
    font-size:27px;
    .job-desc,.job-need{
        margin-top:20px;
        border-top:1px solid #e3e3e3; 
        dd{
            margin:0;
            padding-left:40px;
            position:relative;
            i{
                position:absolute;
                display:block;
                left:13px;
                top:15px;
                width:7px; 
                height:7px; 
                background:url(../img/sprite.png) no-repeat 0px -241px;
            }
        }
    }
}

section.action{
    position:relative;
    height:130px;
    line-height:130px;
    @include box-shadow(0px -8px 20px rgba(0,0,0,.1));
    .btn{
        position:absolute;
        display:inline-block;
        width:30%;
        height:70px;
        line-height:70px;
        margin-left:30px;
        @include border-radius(6px);
        font-size:33px;
        top:30px;
    }
    .myjob-post{
        background:#EFAD4D;
        color:#fff;
        left:11%;
    }
    .othersjob-post{
        color:#fff; 
        background:$themecolor;
        left:50%;
    }
}


//transition
aside.trans-show{
    @include transition(.3s);
    @include translate(0,0);
}

.main{
    position:absolute;
    @include transition(.3s);
}
.main.trans-show{
    @include transition(.3s);
    @include translate(460px,0);
}
