@import "functions.scss";
@import "animate.scss";

aside{
    position:absolute;
    width:420px;
    padding:20px;
    min-height:100%;
    background:#eaeaea;
    @include transition(.3s);
    @include translate(-460px,0);
    .aside-hd{
        @include clearfix();
        margin-bottom:20px;
        .logo{
            float:left;    
            img{
                width:125px;
                height:125px;
            }
        }
        .aside-title{
            height:125px;
            line-height:125px;
            width:250px;
            float:left;    
            font-size:37px;
            color:#777;
            vertical-align:middle;
            margin-left:20px;
        }
    }

    .aside-main{
        .aside-search{
            @include clearfix();
            input[type="text"]{
               width:300px; 
               height:36px;
               font-size:27px;
               color:#9d9d9d;
               padding:16px 20px;
               float:left;
               border:1px solid #d1d1d1;
               -webkit-border-top-left-radius: 5px;
               -webkit-border-bottom-left-radius: 5px;
               -moz-border-radius-topleft: 5px;
               -moz-border-radius-bottomleft: 5px;
               border-top-left-radius: 5px;
               border-bottom-left-radius: 5px;
               @include box-shadow(0px 0px 3px rgba(0,0,0,.1));
            }     
            .search-btn{
               float:left;
               width:74px;
               height:70px;
               background:url(../img/sprite.png) no-repeat 21px -260px #3397DA;
               border:none;
               -webkit-border-top-right-radius: 5px;
               -webkit-border-bottom-right-radius: 5px;
               -moz-border-radius-topright: 5px;
               -moz-border-radius-bottomright: 5px;
               border-top-right-radius: 5px;
               border-bottom-right-radius: 5px;
            }
        }
        //aside-select
        .aside-selectarea{
            cursor:pointer;
            margin-top:30px;
            width:414px;
            border:1px solid #dbdbdb;
            @include border-radius(5px);
            background:#fff;
            .jobcat-selected,.area-selected{
                position:relative;
                padding:20px;
                color:#787878;
                i.up-arrow,i{
                    background:url(../img/sprite.png) no-repeat 0 -340px;
                    position:absolute; 
                    width:25px;
                    height:14px;
                    right:20px;
                    top:52px;
                }
                i.up-arrow{
                    background-position:0 -360px; 
                }
                h5{
                    padding:0;
                    margin:0;
                    font-size:33px;    
                }
                .sub{
                    font-size:27px;
                    color:#bababa;
                
                }
            }
            .jobcat-selected-options,.area-selected-options{
                display:none;
                li{
                    width:374px; 
                    height:60px;
                    padding:0 20px;
                    line-height:60px;
                    font-size:27px;
                    background:#f7f7f7;
                    border-top:1px solid #ececec;
                    a{
                        color:#777;
                    }
                }
            }
            .jobcat-selected-options li:last-child{
                    -webkit-border-bottom-left-radius: 5px;
                    -moz-border-radius-bottomleft: 5px;
                    border-bottom-left-radius: 5px; 
                    webkit-border-bottom-right-radius: 5px;
                    -moz-border-radius-bottomright: 5px;
                    border-bottom-right-radius: 5px; 
            }
            .area-selected-options{
                position:relative;
                @include clearfix();
                .p-options,.c-options{
                    float:left;
                    li{
                        width:167px;
                    }
                }
                .p-options>li{
                    &.active{
                        background:#ececec; 
                    }
                    background:#f7f7f7; 
                }
                .c-options{

                }
                .c-options.move-out{
                    @include transition(.3s);
                    left:0px;
                    @include translate(167px,0);
                }
                .c-options>li{
                    background:#ececec; 
                }
            }
        }
    }
    .aside-action{
        margin-top:20px; 
        button{
            height:70px; 
            line-height:70px;
            color:#fff;
            background:#EFAD4D;
            font-size:34px;
            width:414px;
            text-align:center;
            border:none;
            @include border-radius(5px);
        }
    }
}

section{
    .main-list{
        a:hover{
            text-decoration:none; 
            .list-item{
                background:#f0f0f0;
                //border-left:8px solid $themecolor;
            }
        }
        .list-item{
            //width:100%;
            height:175px;
            overflow:hidden;
            background:#fff;
            border-top:1px solid #d1d1d1;
            padding:20px 30px 20px 30px;
            font-size:26px;
            .item-hd{
                position:relative;
                h3{
                    color:#3d3d3d;
                    margin:0;
                    padding:0;
                    font-size:36px;           
                }
                .detail{
                    position:absolute; 
                    display:block;
                    width:14px;
                    height:22px;
                    background:url(../img/sprite.png) no-repeat 0 -160px;
                    right:10px;
                    top:22px;
                }
            }
            .item-options{
                color:#ababab;
                font-size:25px;
                @include clearfix();
                ul{
                    width:700px;
                    overflow:hidden;
                    li{
                        margin-right:48px;
                        float:left; 
                    }
                }
                .addr-icon,.people-icon,.date-icon{
                    padding-left:32px;  
                    background:url(../img/sprite.png) no-repeat;
                }
                .addr-icon{
                    background-position:0 -44px;
                }
                .people-icon{
                    background-position:0 -83px;
                }
                .date-icon{
                    background-position:0 -113px;
                }
            }
            .item-desc{
                color:#6d6d6d;
                font-size:27px; 
                height:80px;
                overflow:hidden;
                margin-top:10px;
            }
        }
    }
}

section.more{
    font-size:30px;
    text-align:center;
    height:100px;
    line-height:100px;
    a{
        color:#8d8d8d;
        &:hover{
            text-decoration:none; 
        }
    }
}

section.detail{
    h4{
        font-size:50px; 
        margin:0 0 20px 0;
        font-weight:normal;
        color:#3d3d3d;
        padding:0;
    }
    padding:30px 40px;
    color:#6d6d6d;
    font-size:27px;
    .job-desc,.job-need{
        margin-top:20px;
        border-top:1px solid #e3e3e3; 
        dd{
            margin:0;
            padding-left:40px;
            position:relative;
            i{
                position:absolute;
                display:block;
                left:13px;
                top:15px;
                width:7px; 
                height:7px; 
                background:url(../img/sprite.png) no-repeat 0px -241px;
            }
        }
    }
}

section.action{
    position:relative;
    height:130px;
    line-height:130px;
    @include box-shadow(0px -8px 20px rgba(0,0,0,.1));
    .btn{
        position:absolute;
        display:inline-block;
        width:30%;
        height:70px;
        line-height:70px;
        margin-left:30px;
        @include border-radius(6px);
        font-size:33px;
        top:30px;
    }
    .myjob-post,.post-resume{
        background:#EFAD4D;
        color:#fff;
        left:11%;
    }
    .othersjob-post{
        color:#fff; 
        background:$themecolor;
        left:50%;
    }
    .post-resume{
        margin:0;
        width:40%;
        left:30%;
    }
}

$resume-size:28px;
$resume-color:#6e6e6e;
$resume-border-color:#c7c7c7;;

.resume{
    padding:20px;
    background:#eee;
    section{
        background:#fff;
       padding:18px; 
       border:1px solid $resume-border-color;
       @include border-radius(5px);
       margin-bottom:20px;
    }
    .resume-st{
        h4{
            font-size:$resume-size;
            color:$resume-color;
            font-weight:normal;
            margin:0px;
        }
        p{
            margin:5px 0;
            @include border-radius(5px);
            width:100%; 
            border:1px solid $resume-border-color;
            height:43px;
            span{
                @include transition(.3s);
                display:block;
                width:50%;
                height:43px;
                background-color:#FFC152;
                background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
                background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
                background-size: 40px 40px;
            }
        }
    }
    .tips{
        background:#EFF9FF;
        color:#329ADD;
        h4{
            margin:0; 
            font-weight:normal;
            font-size:40px;
            span{
                font-size:28px;
                vertical-align:middle;
            }
        }
        .desc{
            font-size:26px;
            color:#999;
        }
    }

    section[class^=part]{
        .part-main{
            padding:18px; 
        }
        .must-icon{
            display:inline-block;
            width:16px; 
            height:16px;
            vertical-align:middle;
            background:url(../img/sprite.png) no-repeat 0 -403px;
            margin-left:5px;
        }
        padding:0px;
        font-size:28px;
        color:#656565;
        .title{
            position:relative;
            height:78px; 
            line-height:78px;
            padding:0 18px;
            border-bottom:1px solid $resume-border-color;
            background:#f8f8f8;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            span{
                cursor:pointer;
                padding-right:30px; 
            }
            i.up-arrow,i{
                    background:url(../img/sprite.png) no-repeat 0 -340px;
                    position:absolute; 
                    width:25px;
                    height:14px;
                    right:20px;
                    top:33px;
            }
            i.up-arrow{
                background-position:0 -360px; 
            }

        }
        .row,.row-aciton{
            margin:10px; 
        }
        label{
            width:140px;  
            line-height:58px;
            text-align:right;
            height:58px;
        }
        input[type=text],input[type=password],select{
            @include border-radius(5px);
            vertical-align:middle;
            border:1px solid  $resume-border-color;
            line-height:58px;
            padding:10px;
            height:38px;
            line-height:38px;
            width:330px;
            &[name=phone-num]{
                width:170px; 
            }
            &[name=expsalary],&[name=salary]{
                width:250px; 
                margin-right:10px;
            }
        }
        select{
            width:352px;
            padding:0;
            height:58px; 
            line-height:58px;
            padding:0 10px;
        }
        textarea{
            padding:10px;
            @include border-radius(5px);
            width:330px;
            border:1px solid  $resume-border-color;
            &[name="additional"]{
                width:504px; 
            }
        }
        label,input[type=text]{
        }
        input[value=female]{
            margin-left:40px; 
        }
        .send-vercode{
            display:inline-block; 
            line-height:58px;
            height:58px;
            border:1px solid $resume-border-color;
            padding:0 20px;
            @include border-radius(5px);
            background:#E9F5FF;
            color:#3397DB;
            font-size:22px;
            vertical-align:middle;
        }
        .row-more{
            border-top:1px dashed $resume-border-color; 
            height:70px;
            line-height:70px;
            margin-top:50px;
            .add-more{ 
                color:$resume-color;
                padding-left:40px;
                background:url(../img/sprite.png) no-repeat 0px -429px;

            }
        }
        .row-action{
            @include clearfix();
            height:58px;
            line-height:58px;
            .btn{
                position:absolute;
                left:195px;
                display:inline-block;
                border:none; 
                height:58px;
                line-height:58px;
                background:$themecolor;
                padding:0 30px;
                font-size:28px;
                color:#fff;
                @include border-radius(5px);
                &.center{
                    left:250px; 
                }
            }
        }
        &[class=part-three],&[class=part-four],&[class=part-five],&[class=part-six],&[class=part-seven],&[class=part-eight]{
            .part-main{
                display:none; 
            }
        }
    }
}


//success

section.success-main{
    @include clearfix();
    padding:20px;
    .main-wrapper{
        height:270px;
        position:relative;
        border-bottom:1px dashed #d2d2d2;
        .success-icon{
            position:absolute;
            left:10%;
            top:80px;
            width:101px;
            height:75px;
            background:url(../img/sprite.png) no-repeat 0px -480px;
        }
        .doc{
            position:absolute;
            color:#6c6c6c;
            width:320px;
            overflow:hidden;
            left:30%; 
            top:70px;
            font-size:30px;
            h3{
                font-weight:normal;
                margin:0;
                font-size:45px; 
            }
            .or{
                color:#EFAD4D; 
            }
        }

    }
}
section.success-go-on{
    text-align:center;
    padding-top:170px;
    .btn{
        width:314px;
        height:78px;
        line-height:78px;
        background:$themecolor;
        font-size:36px;
        color:#fff;
        text-align:center;
        @include border-radius(5px);
    }
    p{
        margin:20px 0;
        font-size:30px; 
        color:#6d6d6d;

    }
}





/*
 * transition
 */
aside.trans-show{
    @include transition(.3s);
    @include translate(0,0);
}

.main{
    width:100%;
    position:absolute;
    @include transition(.3s);
}
.main.trans-show{
    @include transition(.3s);
    @include translate(460px,0);
}
