//font
//-----------------------
$font:12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;

//body background
//-----------------------
$body-bg:#fff;

//link color
//-----------------------
$link-color:blue;
$link-hover-color:red;

//form
$input-color-placeholder:#ddd;
