header {
  position: fixed;
  top: 0px;
  z-index: 9999;
  color: white;
  text-align: center;
  display: table;
  font-size: 36px;
  width: 100%;
  height: 83px;
  line-height: 83px;
  background: #3397da;
  margin: 0;
  padding: 0; }
  header:before, header:after {
    content: "";
    display: table; }
  header:after {
    clear: both; }
  header .side-icon, header .back-icon {
    position: absolute;
    left: 33px;
    top: 24px;
    width: 32px;
    height: 32px;
    background: url(../img/sprite.png) no-repeat 0 0; }
  header .back-icon {
    width: 40px;
    height: 40px;
    background-position: 0 -190px; }
