@font-face {
  font-family: 'lan';
  src: url("../lan.ttf"); }

body {
  position: relative;
  font-family: 'lan'; }

aside {
  -webkit-box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 10;
  width: 420px;
  padding: 20px;
  min-height: 100%;
  background: #eaeaea;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(-480px, 0);
  -ms-transform: translate(-480px, 0);
  transform: translate(-480px, 0); }
  aside .aside-hd {
    margin-bottom: 20px; }
    aside .aside-hd:before, aside .aside-hd:after {
      content: "";
      display: table; }
    aside .aside-hd:after {
      clear: both; }
    aside .aside-hd .logo {
      float: left; }
      aside .aside-hd .logo img {
        width: 125px;
        height: 125px; }
    aside .aside-hd .aside-title {
      height: 125px;
      line-height: 125px;
      width: 250px;
      float: left;
      font-size: 37px;
      color: #777;
      vertical-align: middle;
      margin-left: 20px; }
  aside .aside-main .aside-search:before, aside .aside-main .aside-search:after {
    content: "";
    display: table; }
  aside .aside-main .aside-search:after {
    clear: both; }
  aside .aside-main .aside-search input[type="text"] {
    width: 300px;
    height: 36px;
    font-size: 27px;
    color: #9d9d9d;
    padding: 16px 20px;
    float: left;
    border: 1px solid #d1d1d1;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); }
  aside .aside-main .aside-search .search-btn {
    float: left;
    width: 74px;
    height: 70px;
    background: url(../img/sprite.png) no-repeat 21px -260px #3397da;
    border: none;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  aside .aside-main .aside-selectarea {
    cursor: pointer;
    margin-top: 30px;
    width: 414px;
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #fff; }
    aside .aside-main .aside-selectarea .jobcat-selected, aside .aside-main .aside-selectarea .area-selected {
      position: relative;
      padding: 20px;
      color: #787878; }
      aside .aside-main .aside-selectarea .jobcat-selected i.up-arrow, aside .aside-main .aside-selectarea .jobcat-selected i, aside .aside-main .aside-selectarea .area-selected i.up-arrow, aside .aside-main .aside-selectarea .area-selected i {
        background: url(../img/sprite.png) no-repeat 0 -340px;
        position: absolute;
        width: 25px;
        height: 14px;
        right: 20px;
        top: 52px; }
      aside .aside-main .aside-selectarea .jobcat-selected i.up-arrow, aside .aside-main .aside-selectarea .area-selected i.up-arrow {
        background-position: 0 -360px; }
      aside .aside-main .aside-selectarea .jobcat-selected h5, aside .aside-main .aside-selectarea .area-selected h5 {
        padding: 0;
        margin: 0;
        font-size: 33px; }
      aside .aside-main .aside-selectarea .jobcat-selected .sub, aside .aside-main .aside-selectarea .area-selected .sub {
        font-size: 27px;
        color: #bababa; }
    aside .aside-main .aside-selectarea .jobcat-selected-options, aside .aside-main .aside-selectarea .area-selected-options {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      display: none; }
      aside .aside-main .aside-selectarea .jobcat-selected-options li, aside .aside-main .aside-selectarea .area-selected-options li {
        width: 374px;
        height: 60px;
        padding: 0 20px;
        line-height: 60px;
        font-size: 27px;
        background: #f7f7f7;
        border-top: 1px solid #ececec; }
        aside .aside-main .aside-selectarea .jobcat-selected-options li a, aside .aside-main .aside-selectarea .area-selected-options li a {
          color: #777; }
    aside .aside-main .aside-selectarea .jobcat-selected-options li:last-child {
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-left-radius: 5px;
      webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      border-bottom-right-radius: 5px; }
    aside .aside-main .aside-selectarea .area-selected-options {
      position: relative; }
      aside .aside-main .aside-selectarea .area-selected-options:before, aside .aside-main .aside-selectarea .area-selected-options:after {
        content: "";
        display: table; }
      aside .aside-main .aside-selectarea .area-selected-options:after {
        clear: both; }
      aside .aside-main .aside-selectarea .area-selected-options .p-options, aside .aside-main .aside-selectarea .area-selected-options .c-options {
        float: left; }
        aside .aside-main .aside-selectarea .area-selected-options .p-options li, aside .aside-main .aside-selectarea .area-selected-options .c-options li {
          width: 167px; }
      aside .aside-main .aside-selectarea .area-selected-options .p-options > li {
        background: #f7f7f7; }
        aside .aside-main .aside-selectarea .area-selected-options .p-options > li.active {
          background: #ececec; }
      aside .aside-main .aside-selectarea .area-selected-options .c-options.move-out {
        -webkit-transition: 0.3s;
        transition: 0.3s;
        left: 0px;
        -webkit-transform: translate(167px, 0);
        -ms-transform: translate(167px, 0);
        transform: translate(167px, 0); }
      aside .aside-main .aside-selectarea .area-selected-options .c-options > li {
        background: #ececec; }
  aside .aside-action {
    margin-top: 30px; }
    aside .aside-action button {
      height: 70px;
      line-height: 70px;
      color: #fff;
      background: #EFAD4D;
      font-size: 34px;
      width: 414px;
      text-align: center;
      border: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }

section.index-list .main-list a:hover {
  text-decoration: none; }
  section.index-list .main-list a:hover .list-item {
    background: #f0f0f0; }
section.index-list .main-list .list-item {
  height: 175px;
  overflow: hidden;
  background: #fff;
  border-top: 1px solid #d1d1d1;
  padding: 20px 30px 20px 30px;
  font-size: 26px; }
  section.index-list .main-list .list-item .item-hd {
    position: relative; }
    section.index-list .main-list .list-item .item-hd h3 {
      color: #3d3d3d;
      margin: 0;
      padding: 0;
      font-size: 36px; }
    section.index-list .main-list .list-item .item-hd .detail {
      position: absolute;
      display: block;
      width: 14px;
      height: 22px;
      background: url(../img/sprite.png) no-repeat 0 -160px;
      right: 10px;
      top: 22px; }
  section.index-list .main-list .list-item .item-options {
    color: #ababab;
    font-size: 25px; }
    section.index-list .main-list .list-item .item-options:before, section.index-list .main-list .list-item .item-options:after {
      content: "";
      display: table; }
    section.index-list .main-list .list-item .item-options:after {
      clear: both; }
    section.index-list .main-list .list-item .item-options ul {
      width: 700px;
      overflow: hidden; }
      section.index-list .main-list .list-item .item-options ul li {
        margin-right: 40px;
        float: left; }
    section.index-list .main-list .list-item .item-options .addr-icon, section.index-list .main-list .list-item .item-options .people-icon, section.index-list .main-list .list-item .item-options .date-icon {
      padding-left: 32px;
      background: url(../img/sprite.png) no-repeat; }
    section.index-list .main-list .list-item .item-options .addr-icon {
      background-position: 0 -44px; }
    section.index-list .main-list .list-item .item-options .people-icon {
      background-position: 0 -83px; }
    section.index-list .main-list .list-item .item-options .date-icon {
      background-position: 0 -113px; }
  section.index-list .main-list .list-item .item-desc {
    color: #6d6d6d;
    font-size: 27px;
    height: 80px;
    overflow: hidden;
    margin-top: 10px; }

section.more {
  font-size: 30px;
  text-align: center;
  height: 100px;
  line-height: 100px; }
  section.more a {
    color: #8d8d8d; }
    section.more a:hover {
      text-decoration: none; }
    section.more a.loading {
      display: inline-block;
      width: 32px;
      height: 32px;
      background: url(../img/loading.gif) no-repeat; }

section.detail {
  padding: 30px 40px;
  color: #6d6d6d;
  font-size: 27px; }
  section.detail h4 {
    font-size: 50px;
    margin: 0 0 20px 0;
    font-weight: normal;
    color: #3d3d3d;
    padding: 0; }
  section.detail .job-desc, section.detail .job-need {
    margin-top: 20px;
    border-top: 1px solid #e3e3e3; }
    section.detail .job-desc dd, section.detail .job-need dd {
      margin: 0;
      padding-left: 40px;
      position: relative; }
      section.detail .job-desc dd i, section.detail .job-need dd i {
        position: absolute;
        display: block;
        left: 13px;
        top: 15px;
        width: 7px;
        height: 7px;
        background: url(../img/sprite.png) no-repeat 0px -241px; }

section.action {
  position: relative;
  height: 130px;
  line-height: 130px;
  -webkit-box-shadow: 0px -8px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -8px 20px rgba(0, 0, 0, 0.1); }
  section.action .btn {
    position: absolute;
    display: inline-block;
    width: 30%;
    height: 70px;
    line-height: 70px;
    margin-left: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    font-size: 33px;
    top: 30px; }
  section.action .myjob-post, section.action .post-resume {
    background: #EFAD4D;
    color: #fff;
    left: 11%; }
  section.action .othersjob-post {
    color: #fff;
    background: #3397da;
    left: 50%; }
  section.action .post-resume {
    margin: 0;
    width: 40%;
    left: 30%; }

.resume {
  padding: 20px;
  background: #eee; }
  .resume section {
    background: #fff;
    padding: 18px;
    border: 1px solid #c7c7c7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px; }
  .resume .resume-st h4 {
    font-size: 28px;
    color: #6e6e6e;
    font-weight: normal;
    margin: 0px; }
  .resume .resume-st p {
    margin: 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #c7c7c7;
    height: 43px; }
    .resume .resume-st p span {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      display: block;
      width: 50%;
      height: 43px;
      background-color: #FFC152;
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-size: 40px 40px; }
  .resume .tips {
    background: #EFF9FF;
    color: #329ADD; }
    .resume .tips h4 {
      margin: 0;
      font-weight: normal;
      font-size: 40px; }
      .resume .tips h4 span {
        font-size: 28px;
        vertical-align: middle; }
    .resume .tips .desc {
      font-size: 26px;
      color: #999; }
  .resume section[class^=part] {
    padding: 0px;
    font-size: 28px;
    color: #656565; }
    .resume section[class^=part] .part-main {
      padding: 18px; }
    .resume section[class^=part] .must-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
      background: url(../img/sprite.png) no-repeat 0 -403px;
      margin-left: 5px; }
    .resume section[class^=part] .title {
      position: relative;
      height: 78px;
      line-height: 78px;
      padding: 0 18px;
      border-bottom: 1px solid #c7c7c7;
      background: #f8f8f8;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
      .resume section[class^=part] .title span {
        cursor: pointer;
        padding-right: 30px; }
      .resume section[class^=part] .title i.up-arrow, .resume section[class^=part] .title i {
        background: url(../img/sprite.png) no-repeat 0 -340px;
        position: absolute;
        width: 25px;
        height: 14px;
        right: 20px;
        top: 33px; }
      .resume section[class^=part] .title i.up-arrow {
        background-position: 0 -360px; }
      .resume section[class^=part] .title.expand {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        border-bottom: none; }
    .resume section[class^=part] div[class$=wrapper] {
      position: relative;
      margin: 10px 0;
      padding: 10px 0; }
      .resume section[class^=part] div[class$=wrapper] .del {
        position: absolute;
        right: 5px;
        top: 10px;
        width: 20px;
        height: 20px;
        background: url(../img/sprite.png) no-repeat 0 -580px;
        cursor: pointer; }
    .resume section[class^=part] .row, .resume section[class^=part] .row-aciton {
      margin: 10px; }
    .resume section[class^=part] label {
      width: 150px;
      line-height: 58px;
      text-align: right;
      height: 58px; }
    .resume section[class^=part] input[type=text], .resume section[class^=part] input[type=password], .resume section[class^=part] select {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      vertical-align: middle;
      border: 1px solid #c7c7c7;
      line-height: 58px;
      padding: 10px;
      height: 38px;
      line-height: 38px;
      width: 330px; }
      .resume section[class^=part] input[type=text][name=phone-num], .resume section[class^=part] input[type=password][name=phone-num], .resume section[class^=part] select[name=phone-num] {
        width: 170px; }
      .resume section[class^=part] input[type=text][name=expsalary], .resume section[class^=part] input[type=text][name=salary], .resume section[class^=part] input[type=password][name=expsalary], .resume section[class^=part] input[type=password][name=salary], .resume section[class^=part] select[name=expsalary], .resume section[class^=part] select[name=salary] {
        width: 250px;
        margin-right: 10px; }
    .resume section[class^=part] select {
      width: 352px;
      padding: 0;
      height: 58px;
      line-height: 58px;
      padding: 0 10px; }
      .resume section[class^=part] select[name$=year] {
        width: 140px; }
      .resume section[class^=part] select[name$=mouth] {
        margin-left: 10px;
        width: 102px; }
    .resume section[class^=part] .tonow {
      margin-left: 10px; }
    .resume section[class^=part] textarea {
      padding: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      width: 330px;
      border: 1px solid #c7c7c7; }
      .resume section[class^=part] textarea[name="additional"] {
        width: 504px; }
    .resume section[class^=part] input[value=female] {
      margin-left: 40px; }
    .resume section[class^=part] .send-vercode {
      display: inline-block;
      line-height: 58px;
      height: 58px;
      border: 1px solid #c7c7c7;
      padding: 0 20px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      background: #E9F5FF;
      color: #3397DB;
      font-size: 22px;
      vertical-align: middle; }
    .resume section[class^=part] .row-more {
      border-top: 1px dashed #c7c7c7;
      height: 70px;
      line-height: 70px;
      margin-top: 50px; }
      .resume section[class^=part] .row-more .add-more {
        color: #6e6e6e;
        padding-left: 40px;
        background: url(../img/sprite.png) no-repeat 0px -428px; }
    .resume section[class^=part] .row-action {
      height: 58px;
      line-height: 58px; }
      .resume section[class^=part] .row-action:before, .resume section[class^=part] .row-action:after {
        content: "";
        display: table; }
      .resume section[class^=part] .row-action:after {
        clear: both; }
      .resume section[class^=part] .row-action .btn {
        position: absolute;
        left: 205px;
        display: inline-block;
        border: none;
        height: 58px;
        line-height: 58px;
        background: #3397da;
        padding: 0 30px;
        font-size: 28px;
        color: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px; }
        .resume section[class^=part] .row-action .btn.center {
          left: 250px; }
    .resume section[class^=part][class=part-three] .part-main, .resume section[class^=part][class=part-four] .part-main, .resume section[class^=part][class=part-five] .part-main, .resume section[class^=part][class=part-six] .part-main, .resume section[class^=part][class=part-seven] .part-main, .resume section[class^=part][class=part-eight] .part-main {
      display: none; }

section.success-main {
  padding: 20px; }
  section.success-main:before, section.success-main:after {
    content: "";
    display: table; }
  section.success-main:after {
    clear: both; }
  section.success-main .main-wrapper {
    height: 270px;
    position: relative;
    border-bottom: 1px dashed #d2d2d2; }
    section.success-main .main-wrapper .success-icon {
      position: absolute;
      left: 10%;
      top: 80px;
      width: 101px;
      height: 75px;
      background: url(../img/sprite.png) no-repeat 0px -480px; }
    section.success-main .main-wrapper .doc {
      position: absolute;
      color: #6c6c6c;
      width: 320px;
      overflow: hidden;
      left: 30%;
      top: 70px;
      font-size: 30px; }
      section.success-main .main-wrapper .doc h3 {
        font-weight: normal;
        margin: 0;
        font-size: 45px; }
      section.success-main .main-wrapper .doc .or {
        color: #EFAD4D; }

section.success-go-on {
  text-align: center;
  padding-top: 170px; }
  section.success-go-on .btn {
    width: 314px;
    height: 78px;
    line-height: 78px;
    background: #3397da;
    font-size: 36px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  section.success-go-on p {
    margin: 20px 0;
    font-size: 30px;
    color: #6d6d6d; }

/*
 * transition
 */
aside.trans-show {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.main {
  padding-top: 83px;
  z-index: 9;
  min-height: 960px;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }
  .main .blank {
    height: 83px; }

/*
 * upload   
 */
#take-pic, #take-video {
  visibility: hidden;
  height: 0; }

#show-pic, #show-video {
  width: 170px;
  height: 200px;
  border: 1px solid #ddd;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

#show-video {
  width: 350px; }
