aside {
  position: absolute;
  width: 460px;
  min-height: 100%;
  background: #eaeaea;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(-460px, 0);
  -ms-transform: translate(-460px, 0);
  transform: translate(-460px, 0); }

aside.trans-show {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

aside.trans-hide {
  -webkit-transform: translate(-460px, 0);
  -ms-transform: translate(-460px, 0);
  transform: translate(-460px, 0); }

.main {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.main.trans-show {
  -webkit-transform: translate(460px, 0);
  -ms-transform: translate(460px, 0);
  transform: translate(460px, 0); }

.main.trans-hide {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

section .main-list a:hover {
  text-decoration: none; }
  section .main-list a:hover .list-item {
    background: #f0f0f0;
    border-left: 8px solid #3397da; }
section .main-list .list-item {
  height: 175px;
  overflow: hidden;
  background: #fff;
  border-top: 1px solid #d1d1d1;
  padding: 20px 30px 20px 30px;
  font-size: 26px; }
  section .main-list .list-item .item-hd {
    position: relative; }
    section .main-list .list-item .item-hd h3 {
      color: #3d3d3d;
      margin: 0;
      padding: 0;
      font-size: 36px; }
    section .main-list .list-item .item-hd .detail {
      position: absolute;
      display: block;
      width: 14px;
      height: 22px;
      background: url(../img/sprite.png) no-repeat 0 -160px;
      right: 10px;
      top: 22px; }
  section .main-list .list-item .item-options {
    color: #ababab;
    font-size: 25px; }
    section .main-list .list-item .item-options:before, section .main-list .list-item .item-options:after {
      content: "";
      display: table; }
    section .main-list .list-item .item-options:after {
      clear: both; }
    section .main-list .list-item .item-options ul > li {
      margin-right: 45px;
      float: left; }
    section .main-list .list-item .item-options .addr-icon, section .main-list .list-item .item-options .people-icon, section .main-list .list-item .item-options .date-icon {
      padding-left: 32px;
      background: url(../img/sprite.png) no-repeat; }
    section .main-list .list-item .item-options .addr-icon {
      background-position: 0 -44px; }
    section .main-list .list-item .item-options .people-icon {
      background-position: 0 -83px; }
    section .main-list .list-item .item-options .date-icon {
      background-position: 0 -113px; }
  section .main-list .list-item .item-desc {
    color: #6d6d6d;
    font-size: 27px; }

section.more {
  font-size: 30px;
  text-align: center;
  height: 100px;
  line-height: 100px; }
  section.more a {
    color: #8d8d8d; }
    section.more a:hover {
      text-decoration: none; }

section.detail {
  padding: 30px 40px;
  color: #6d6d6d;
  font-size: 27px; }
  section.detail h4 {
    font-size: 50px;
    margin: 0 0 20px 0;
    font-weight: normal;
    color: #3d3d3d;
    padding: 0; }
  section.detail .job-desc, section.detail .job-need {
    margin-top: 20px;
    border-top: 1px solid #e3e3e3; }
    section.detail .job-desc dd, section.detail .job-need dd {
      margin: 0;
      padding-left: 40px;
      background: url(../img/sprite.png) no-repeat 13px -224px; }

section.action {
  position: relative;
  height: 130px;
  line-height: 130px;
  -webkit-box-shadow: 0px -8px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -8px 20px rgba(0, 0, 0, 0.1); }
  section.action .btn {
    position: absolute;
    display: inline-block;
    width: 30%;
    height: 70px;
    line-height: 70px;
    margin-left: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    font-size: 33px;
    top: 30px; }
  section.action .myjob-post {
    background: #EFAD4D;
    color: #fff;
    left: 13%; }
  section.action .othersjob-post {
    border: 1px solid #c7c7c7;
    color: #747474;
    background: #fff;
    left: 50%; }
